@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
*{margin:0; padding:0;}

body{
    position: relative;
    width:100vw; height:100vh;
    background:linear-gradient(to right top, skyblue, pink);
    .clock{
        position: absolute;
        left:50%; top:50%;
        transform: translate(-50%,-50%);
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .text{
            text-align: center;
            margin:30px;
            font-family: 'Do Hyeon', sans-serif;
            font-size:30px;
        }
        .circle{
            position: relative;
            width:200px; height:200px;
            border:10px solid black;
            border-radius: 250px;
            .hour{
                position: absolute;
                left:50%; top:40px;
                width:4px;
                height:60px;
                background:#000;
                transform:translateX(-50%) rotate(120deg);
                transform-origin: center bottom;
            }
            .min{
                position: absolute;
                left:50%; top:10px;
                transform: translateX(-50%) rotate(0deg);
                transform-origin: center bottom;
                width:3px;
                height:90px;
                background:#000;
            }
            .sec{
                position: absolute;
                left:50%; top:10px;
                transform: translateX(-50%) rotate(0deg);
                transform-origin: center bottom;
                width:2px;
                height:90px;
                background:#000;
                
            }
        }
    }
}